      <ul id="tabs">
        <li><a href="/channels/1" class="active">tartanhacks
            <span class="close-tab">close</span></a></li>
        <li><a href="/channels/1">tartanhacks
            <span class="close-tab">close</span></a></li>
      </ul>
