      <ul id="tabs">
        <li><a href="/channels">lobby</a></li>
        <% current_user.channels.each do |channel| %>
          <li channel="<%= channel.name %>" class="tab active"><a href="/channels/<%= channel.id %>" class="active"><%= channel.name %>
          <span class="close-tab">close</span></a></li>
        <% end %>
      </ul>
