@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand-Regular'), url('/quicksand400.woff') format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand-Bold'), url('/quicksand700.woff') format('woff');
}
a img {
  border: none;
}
a {
  color: #1874CD;
  text-decoration:none;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.container {
  position:relative;
  width: 960px;
  height:100%;
  margin: 0 auto;
}
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
.fieldWithErrors {
  display: inline;
}
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}
.error_messages p {
  margin: 8px 10px;
}
.error_messages ul {
  margin: 0;
}
/***********************************
 * Channels Index
 ***********************************
 */
#channels-list {
  width:720px;
  float:right;
  text-align:center;
  margin-top:25px;
}
#channels-list tr {
  border-bottom:1px solid #ddd;
}
#channels-list td, #channels-list th {
  padding:6px 9px;
}
/***********************************
 * ChatBox Styles
 ***********************************
 */
.chat-sidebar {
  position:fixed;
  width:240px;
}
.chat-channel {
  height:100%;
}
.chat-channel h2 {
  font-family:Quicksand,Arial,Helvetica;
  font-size:18px;
  font-weight:700;
  margin-top:10px;
}
.chat-channel .school {
  font-weight:400;
  font-size:12px;
  font-style:italic;
}
.chat-channel .description {
  margin-top:5px;
  font-size:12px;
  color:#666;
}
.chat-members {
  margin-top:20px;
  width:200px;
  padding:10px;
  border:1px solid #ccc;
  background-color:#f3f3f3;
  border-radius:3px;
}
.members-header {
  color:#1874cd;
  font-weight:700;
}
.member-list li {
  margin-top:5px;
}
.member-list img {
  width:30px; height:30px;
  vertical-align:middle;
  margin-right:10px;
}
.chat-window {
  top:0;
  position:absolute; right:0;
  width:720px;
  min-height:100%;
  background-color:#fff;
  border:1px solid #ddd;
  border-width:0 1px;
}
ul.chat {
  list-style:none;
  width:100%;
  padding:10px 0 90px;
}
ul.chat li:first-child {
  border-top:1px solid #ddd;
}
ul.chat li {
  position:relative;
  margin:0 10px;
  padding:10px 0 10px 70px;
  min-height:50px;
  border-bottom:1px solid #ddd;
}
ul.chat li .new-flash {
  position:absolute;
  left:0; top:0;
  display:block;
  width:100%;
  height:100%;
  background-color:#FFFCCf;
}
ul.chat img {
  position:absolute;
  left:10px;
}
ul.chat li .name {
  position:relative;
  top:-3px;
  font-size:11px;
  color:#1874CD;
}
ul.chat li p {
  /* message content */
  position:relative;
}
ul.chat li .created_at {
  position:absolute;
  top:8px; right:10px;
  color: #777;
  font-size: 11px;
}
.chat-input {
  position:fixed; bottom:0;
  width:720px;
  height:80px;
  background-color:#ddd;
  border-top:1px solid #bbb;
}
.chat-input form {
  position:relative;
}
.active {
  background-color:red;
}
.embedded {
  max-width: 200px;
  max-height: 200px;
}
input.message_content {
  display:block;
  width:684px;
  padding:5px 8px;
  margin:10px auto;
  border:1px solid #ccc;
  border-radius:3px;
}
input.message_content:focus {
  border-color:#1874cd;
}
