body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
#flash {
  display:none;
}
#page-header {
  position:fixed;
  width:100%;
  height:40px;
  z-index:99;
  background-color:#eee;
}
#page-header .container {
  height:40px;
}
#page-header h1 {
  float:right;
  width:140px;
  height:0;
  margin:10px 50px;
  padding-top:20px;
  overflow:hidden;
  background-image:url('/images/discourse-small.png');
}
#page-header #tabs {
  position:absolute;
  left:0; bottom:0;
  height:30px;
  width:720px;
}
#page-header #tabs li {
  position:relative;
  display:inline-block;
}
#page-header #tabs li a {
  display:block;
  padding:5px 25px 5px 10px;
  border:1px solid #ddd;
  border-bottom:none;
  height:19px;
  color:#ddd;
  background-color:#666;
  border-radius:5px 5px 0 0;
}
#page-header #tabs li a:hover {
  background-color:#1874CD;
}
#page-header #tabs li a.active {
  border-color:#ddd;
  color:#666;
  background-color:#fff;
}
#page-header #tabs li a .close-tab {
  display:block;
  position:absolute;
  top:7px;
  right:7px;
  width:15px;
  height:0;
  padding:15px 0 0;
  background-color:transparent;
  background-image:url('/images/header-options.png');
  border-radius:0;
  border:none;
  overflow:hidden;
  background-position:-35px 0;
}
#page-header #tabs li a .close-tab:hover {
  background-position:-35px -15px;
}
#page-header #logout-link {
  display:block;
  position:absolute;
  right:10px;
  top:0;
  /*width:40px;
  height:0;
  padding-top:30px;
  overflow:hidden;
  background-image:url('/images/header-options.png');*/
}
#page-content {
  position:relative;
  padding-top:41px;
}
