body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
#flash {
  display:none;
}
#page-header {
  position:fixed;
  width:100%;
  height:40px;
  z-index:99;
  background-color:#eee;
}
#page-header .container {
  height:40px;
}
#page-header h1 {
  position:absolute;
  left:25px;
  width:140px;
  height:0;
  margin:10px 20px;
  padding-top:20px;
  overflow:hidden;
  background-image:url('/images/discourse-small.png');
}
#page-header #tabs {
  position:absolute;
  left:238px; top:5px;
  height:35px;
  width:500px;
}
#page-header #tabs li {
  position:relative;
  display:inline-block;
  margin:0 1px 0 0;
}
#page-header #tabs li a.tab-link {
  display:block;
  padding:10px 25px 0 10px;
  height:23px;
  color:#aaa;
  background-color:#ddd;
  border:1px solid #ddd;
  border-top:2px solid #aaa;
  border-bottom:none;
  border-radius:3px 3px 0 0;
}
#page-header #tabs li a.tab-link:hover {
  background-color:#1874CD;
  color:#fff;
  border-top-color:#666;
}
#page-header #tabs li.active a.tab-link {
  color:#666;
  background-color:#fff;
  border-top-color:#1874cd;
}
#page-header #tabs li.alert a.tab-link {
  border-top-color:#333;
  background-color:#fffccf;
  color:#000;
}
#page-header #tabs li .close-tab {
  display:block;
  position:absolute;
  top:12px;
  right:7px;
  width:15px;
  height:0;
  padding:15px 0 0;
  background-color:transparent;
  background-image:url('/images/header-options.png');
  border-radius:0;
  border:none;
  overflow:hidden;
  background-position:-35px 0;
}
#page-header #tabs li .close-tab:hover {
  background-position:-35px -15px;
}
#page-header #lobby-link {
  display:block;
  position:absolute;
  left:0;
  top:12px;
  width:15px;
  height:0;
  padding-top:15px;
  overflow:hidden;
  background-image:url('/images/header-options.png');
  background-position:-65px 0;
}
#page-header #lobby-link:hover {
  background-position:-65px -15px;
}
#page-header #logout-link {
  display:block;
  position:absolute;
  right:10px;
  top:12px;
  height:20px;
  font-weight:700;
  font-family:Quicksand,Arial,Helvetica;
  font-size:14px;
  color:#000;
}
#page-header #logout-link:hover {
  color:#1874cd;
}
#page-content {
  position:relative;
  padding-top:40px;
}
#welcome-msg h2 {
  font-family:Quicksand,Arial,Helvetica,sans-serif;
  font-size:36px;
  font-weight:700;
  margin-top:25px;
  width:720px;
  float:right;
}
#welcome-msg p {
  width:720px;
  float:right;
  margin-top:10px;
}
