<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
  <title>discourse</title>
</head>
<body>

<div id="home-facebook">
  <div id="facebook-rationale">
  <a href="/auth/facebook" id="fb-login">Login</a>
    <h4>Why Facebook?</h4>
  </div>
</div>

</body>
</html>

=======
<!doctype html>
<html>
<head>
  <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="main">
    <h1>discourse</h1>
    <span id="tagline">A new way to communicate. <!--<a href="#" id="learn-expand">Learn more</a>--></span>
    <a href="/auth/facebook" id="fb-login">Sign in with Facebook</a>
  </div>
</body>
</html>
>>>>>>> 4f5d60340ff45de1cc4d004171a11f83adf690b1
