<!doctype html>
<html>
<head>
  <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="main">
    <h1>discourse</h1>
    <span id="tagline">A new way to communicate. <!--<a href="#" id="learn-expand">Learn more</a>--></span>
    <a href="/auth/facebook" id="fb-login">Sign in with Facebook</a>
  </div>
</body>
</html>
