<!DOCTYPE html>
<html>
<head>
  <title>discourse</title>
</head>
<body>

<div id="home-facebook">
  <div id="facebook-rationale">
  <a href="/auth/facebook" id="fb-login">Login</a>
    <h4>Why Facebook?</h4>
  </div>
</div>

</body>
</html>

